<% include ../partials/header_partial.ejs %>

<% for (var i = 0; i < quizzes.length; i++) { %>
	<div class="row">

		<div class="index-left left">
			<img src="<%= quizzes[i].imgUrl %>" class="quiz-thumb">
			<!-- <img src="http://www.newhealthadvisor.com/images/1HT02932/ice%20cream.jpg" class="quiz-thumb"> -->
		</div>

		<div class="index-right right">
			<h2><a href="/quizzes/<%= quizzes[i].id %>"><%= quizzes[i].title %></a></h2>
			<p><%= quizzes[i].description %></p>
			<div class="bottom-bar">
				<a href="/users/profile/<%= quizzes[i].authorId %>"><%= quizzes[i].author %></a> <i class="fa fa-clock-o"></i><%= moment(quizzes[i].timestamp).fromNow() %>
			</div>
		</div>

		<!-- panel will have edit and delete buttons for user -->
		<!-- <div class="panel">
			dsf<br>
			dsf
		</div> -->


	</div> <!-- closes row -->
<% } %>

<!-- <button id="load-more">Load More</button> -->






</div>

</div><!-- closes #content-container -->

<!-- <script type="text/javascript" src="../js/quizindex.js"></script> -->

<% include ../partials/footer_partial.ejs %>