<% include ../partials/header_partial.ejs %>



<!-- real code starts here -->	

<div id="quiz-info">
	<div class="left">
		<img src="http://www.picgifs.com/avatars/animals/panda/avatars-panda-632900.gif" class="img-thumb">
		<span><a href="/users/profile/<%= quiz.authorId %>"><%= quiz.author %></a></span>
	</div>

	<div class="right">
	<h3><%= quiz.title %></h3>
	<p><%= quiz.description %></p>
	</div>

	<div class="side-panel">
		<li><i class="fa fa-facebook" id="facebook-share"></i></li>
		<li><i class="fa fa-twitter" id="twitter-share"></i></li>
		<% if (locals.userid === quiz.authorId ) { %>
			<li><i class="fa fa-trash-o"></i></li>
		<% } %>
	</div>


</div>

<div id="quiz-container" class="hide">

	<% for (var i = 0; i < quiz.questions.length; i++) { %>

		<section class="q-<%= (i + 1) %>">

			<div class="question">
				<b><%= quiz.questions[i].questionText %></b><br>
			</div>

			<div class="options">

			<% for (var j = 0; j < quiz.questions[i].responseOptions.length; j++) { %>

				<div class="option" id="<%= quiz.questions[i].responseOptions[j].points %>">
					<%= quiz.questions[i].responseOptions[j].text %>

				</div>

				<%#= quiz.questions[i].responseOptions[j] %>

			<% } %>

			</div> <!-- closes options -->

		</section> <!-- closes .q-n-->

	<% } %>
</div>

<div id="result-container">

	<!-- <h2>Your Result: Vanilla</h2>

	<p> Vanilla ice cream is delicious... and so are you. </p>

	<div class="share">
		<button>Facebook</button>
	</div> -->
	
</div>



</div><!-- closes #content-container -->

<script type="text/javascript" src="../js/renderquiz.js"></script>

<% include ../partials/footer_partial.ejs %>