<% include ../partials/header_partial.ejs %>

<section class="profile-section-container">
	
	<div id="profile-info-content">
		<h2><%= user.username %></h2>
	</div>


</section>

Results See All
<section id="result-tiles-container">
<!-- display all results -->
<% for (var i = 0; i < user.results.length; i++) { %>
	<div class="result-block grow">
		<b><%= user.results[i].title %></b>
		<p><%= user.results[i].description %></p>
		<a href="/quizzes/<%= user.results[i].quizId %>"><%= user.results[i].quizTitle %></a>
	</div>

<% } %>


	<div class="result-block grow">
		<b>Result block 1</b>
		<p>Blah blah blah blah</p>
	</div>

	<div class="result-block a grow">
		<b>Result block 2</b>
	</div>

	<div class="result-block grow">
		<b>Result block 3</b>
	</div>

	<div class="result-block a grow">
		<b>Result block 4</b>
	</div>

	<div class="result-block grow">
		<b>Result block 5</b>
	</div>

	<div class="result-block a grow">
		<b>Result block 5</b>
	</div>

</section>

Quizzes-- see all

<section class="profile-section-container">
</section>




<br><br><br>
<%#= user %>
<br><br>
<%= user.username %>

<br><br>

<!-- display all results -->
<% for (var i = 0; i < user.results.length; i++) { %>

	<%#= user.results[i] %> <br>

	<a href="/quizzes/<%= user.results[i].quizId %>"><%= user.results[i].quizTitle %></a><br>
	<b><%= user.results[i].title %></b><br>
	<%= user.results[i].description %><br>

	<b>Only show if logged in user is owner of profile</b><br>
	<form action="/users/deleteresult/<%= user.results[i].id %>?_method=PUT" method="POST">
		<button>Remove</button>
	</form>

<% } %>

<!-- quizzes written -->
<%#= user.quizzesWritten %>

<% for (var i = 0; i < user.quizzesWritten.length; i++ ) { %>

	<a href="/quizzes/<%= user.quizzesWritten[i].id %>"><%= user.quizzesWritten[i].title %></a>

<% } %>


</div><!-- closes #content-container -->

User: <%= locals.user %>

<% if (locals.user.username == user.username) { %>
 HELLO
<% } %>

<% include ../partials/footer_partial.ejs %>