<% include ../partials/header_partial.ejs %>

<section class="user-info-container">
	
	<div class="prof-image">
		<img src="<%= user.iconUrl %>" class="prof-thumb">
	</div>
	<div class="prof-content">
		<h2><%= user.username %></h2>
	</div>

</section>


<div id="prof-tabs">
	<ul class="tabs">
		<li id="user-results" class="selected">Results</li>
		<li id="user-quizzes">Quizzes</li>
	</ul>
</div>


<section class="profile-content-container">

	<!-- Results See All -->
	<div id="result-tiles-container">
	<!-- display all results -->
		<% for (var i = 0; i < user.results.length; i++) { %>
			<div class="result-block grow">
				<a href="/quizzes/<%= user.results[i].quizId %>">
				<div class="result-info">
					<b><%= user.results[i].title %></b>
					<p><%= user.results[i].description %></p>
				</div>
				</a>

				<div class="result-quiz">
					<a href="/quizzes/<%= user.results[i].quizId %>">
						<%= user.results[i].quizTitle %>
					</a>
				</div>

			</div>
					


		<% } %>

	</div>

</section>


<!-- Quizzes see all -->

<div id="quizzes-content-container">
	
	<% for (var i = 0; i < user.quizzesWritten.length; i++) { %>

		<div class="quiz-line">
			<a href="/quizzes/<%= user.quizzesWritten[i]._id %>">
				<h2><%= user.quizzesWritten[i].title %></h2> 
				<span><%= user.quizzesWritten[i].description %></span>
			</a>
		</div>

	<% } %>


</div>







</div><!-- closes #content-container -->




<% if (locals.username === user.username) { %>

	<script type="text/javascript" src="/js/userprofile.js"></script>

<% } %>

	<script type="text/javascript" src="/js/userprofileview.js"></script>



<% include ../partials/footer_partial.ejs %>