<% include ../partials/header_partial.ejs %>

<section class="profile-section-container">
	
	<div id="profile-info-content">
		<h2><%= user.username %></h2>
	</div>


</section>

Results See All
<section id="result-tiles-container">
<!-- display all results -->
	<% for (var i = 0; i < user.results.length; i++) { %>
		<div class="result-block grow">
			<b><%= user.results[i].title %></b>
			<p><%= user.results[i].description %></p>
			<a href="/quizzes/<%= user.results[i].quizId %>"><%= user.results[i].quizTitle %></a>
		</div>

	<% } %>


<!-- 	<div class="result-block grow">
			<b>Result block 1</b>
			<p>a a a</p>
	</div>

	<div class="result-block a grow">
		<b>Result block 2</b>
	</div>

	<div class="result-block grow">
		<b>Result block 3</b>
	</div>

	<div class="result-block a grow">
		<b>Result block 4</b>
	</div>

	<div class="result-block grow">
		<b>Result block 5</b>
	</div>

	<div class="result-block a grow">
		<b>Result block 5</b>
	</div> -->

</section>

Quizzes-- see all

<section class="profile-section-container">
	<% for (var i = 0; i < user.quizzesWritten.length; i++) { %>

		<div>
			<a href="/quizzes/<%= user.quizzesWritten[i].id %>"><%= user.quizzesWritten[i].title %></a>
		</div>

	<% } %>

</section>




</div><!-- closes #content-container -->


Logged in user: <%= locals.username %>

<% if (locals.username === user.username) { %>

	<script type="text/javascript" src="/js/userprofile.js"></script>

<% } %>

<% include ../partials/footer_partial.ejs %>