<% include ../partials/header_partial.ejs %>

<section class="user-info-container">
	
	<div class="prof-image">
		<img src="<%= user.iconUrl %>" class="prof-thumb">
	</div>
	<div class="prof-content">
		<h2><%= user.username %></h2>
	</div>

	<% if (locals.username === user.username) { %>

		<i class="fa fa-pencil" id="edit-profile"></i>

	<% } %>

</section>




<!-- tabs to navigate profile content -->
<div id="prof-tabs">
	<ul class="tabs">
		<li id="user-results" class="selected">Results</li>
		<li id="user-quizzes">Quizzes</li>
	</ul>
</div>


<!-- display all results that user has received -->
<section class="profile-content-container">

	<div id="result-tiles-container">

		<!-- to display most recent first -->
		<% userResults = user.results.reverse() %>

		<% for (var i = 0; i < user.results.length; i++) { %>
			<div class="result-block grow">
				<a href="/quizzes/<%= user.results[i].quizId %>">
				<div class="result-info">
					<b><%= userResults[i].title %></b>
					<p><%= shortenResult(userResults[i].description) %></p>
				</div>
				</a>

				<div class="result-quiz">
					<a href="/quizzes/<%= user.results[i].quizId %>">
						<%= user.results[i].quizTitle %>
					</a>
				</div>

				<!-- if user owns profile, allow results to be deleted -->
				<% if (locals.username === user.username) { %>
						<div class="hover-overlay" onclick="location.href='/quizzes/<%= user.results[i].quizId %>';" style="cursor: pointer;">
							<form action="../deleteresult/<%= user.results[i].id %>?_method=PUT" method="POST" name="removeResult">
								<button><i class="fa fa-trash-o"></i></button>
							</form>
						</div>
					
				<% } %>
				

			</div>
					
		<% } %>

	</div>

</section>


<!-- display all quizzes that user has written -->
<div id="quizzes-content-container">

	<!-- to display most recent first -->
	<% userQuizzes = user.quizzesWritten.reverse() %>

	<!-- if user owns profile and has not written any quizzes yet -->
	<% if ((userQuizzes.length === 0) && (locals.username === user.username)) { %>

		<p>You have not written any quizzes yet. Submit your first quiz <a href="/quizzes/new">here.</a></p>

	<!-- if user has not written any quizzes yet -->
	<% } else if (userQuizzes.length === 0) { %>

		<p><%= user.username %> has not written any quizzes yet.</p>

	<% } %>

	
	<% for (var i = 0; i < user.quizzesWritten.length; i++) { %>

		<div class="quiz-line">
			<a href="/quizzes/<%= user.quizzesWritten[i]._id %>">
				<h2><%= userQuizzes[i].title %></h2>
				<span><%= userQuizzes[i].description %></span>
				<!-- <form>
					<i class="fa fa-trash-o"></i>
				</form> -->
			</a>
		</div>

	<% } %>

</div>







</div><!-- closes #content-container -->




<% if (locals.username === user.username) { %>

	<script type="text/javascript" src="/js/userprofile.js"></script>

<% } %>

	<script type="text/javascript" src="/js/userprofileview.js"></script>



<% include ../partials/footer_partial.ejs %>